name
clientid
secret

[general]
status_path = ~/.vdirsyncer/status/

[pair $name$_calendar]
a = $name$_local
b = $name$_remote
conflict_resolution = b wins
collections = ["from b"]

[storage $name$_local]
type = filesystem
path = ~/.calendar/$name$
fileext = .ics

[storage $name$_remote]
type = google_calendar
token_file = ~/.vdirsyncer/tokens/$name$_remote
client_id = $clientid$
client_secret = $secret$
