name
username
clientid
secret
refresh

[oauth2]
request_url = https://accounts.google.com/o/oauth2/token
client_id = $clientid$
client_secret = $secret$

[account $name$]
username = $username$
refresh_token = $refresh$
address = smtp.gmail.com
port = 465
use_ssl = True
use_tls = False
