name
username
password

defaults
auth             on
tls              on
tls_certcheck off
# tls_fingerprint 69:05:2E:80:4B:CC:9A:1A:F5:04:34:7E:1E:70:D5:9E

# A gmail address
account        $name$
host           smtp.gmail.com
port           587
from           $username$
user           $username$
password       $password$
account default : $name$
