name
clientid
secret

[general]
status_path = "~/.vdirsyncer/status/"

[pair $name$_contacts]
a = "$name$_contacts_local"
b = "$name$_contacts_remote"
conflict_resolution = "b wins"
collections = ["from b"]

[storage $name$_contacts_local]
type = "filesystem"
path = "~/.contacts/$name$"
fileext = ".vcf"

[storage $name$_contacts_remote]
type = "google_contacts"
token_file = "~/.vdirsyncer/tokens/$name$_contacts_remote"
client_id = "$clientid$"
client_secret = "$secret$"
